body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #ffc1db, #eea9b5);
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    text-align: center;
    background: #ee98de;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin: 20px;
}

.logo img {
    width: 150px;
    margin-bottom: 20px;
}

h1 {
    color: #333;
    margin-bottom: 20px;
   
}

.options {
    margin-top: 20px;
}

.btn {
    background-color: #b12ca6; /* Naranja brillante */
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #4d164d; /* Naranja claro al pasar el cursor */
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background-color: #f9f9f9;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form label, form input, form button {
    margin: 10px;
}

